@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body {  
   margin: 0; 
   padding: 0;
}

.nav {
    background-color: rgb(238, 201, 38);
    display: inline;
    padding: 15px 10px;
    width: 100%;
    text-align: center;
    text-decoration-line: none;
    color: antiquewhite; 
    list-style-type: none;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav_text {
    align-items: flex-start;
    font-size: large;
    list-style-type: none; 
}

ul {
   list-style-type: none; 
   margin: 0;
   padding: 0;
   overflow: scroll;
   display: flex; 
}

li a {
    display: inline;
    color: antiquewhite;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: large;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    
    
}

.content {
   margin: 0 auto;  
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.Dashboard {
    padding: 0 10px;
    border: 2px solid rgb(238, 201, 38);
    border-radius: 5px;
    margin: 0px 30px 20px 30px;
    text-align: left;
    font-family: 'Lato' , sans-serif;
    width: 300px;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard_text {
    padding: 0 20px;
    text-align: left;
}

.button1 {
    background-color:  rgb(238, 201, 38);
    border: none;
    border-radius: 0px;
    color: antiquewhite;
    padding: 30px auto;
    text-align: center;
    text-decoration: none; 
    margin: 0 0 20px 0;
    font-size: medium;   
}

.Budget {
    padding: 0 10px;
    border: 2px solid rgb(238, 201, 38);
    border-radius: 5px;
    margin: 0px 30px 20px 30px;
    text-align: left;
    font-family: 'Lato' , sans-serif;
    width: 300px;  
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.budget_text {
    padding: 0 20px;
    text-align: left; 
}

.button2 {
    background-color:  rgb(238, 201, 38);
    border: none;
    border-radius: 0px;
    color: antiquewhite;
    padding: 30px auto;
    text-align: center;
    text-decoration: none; 
    margin: 0 0 20px 0;
    font-size: medium; 
}

.Checkbooks {
    padding: 0 10px;
    border: 2px solid rgb(238, 201, 38);
    border-radius: 5px;
    margin: 0px 30px 20px 30px;
    text-align: left;
    font-family: 'Lato' , sans-serif;
    width: 300px;  
    justify-content: flex-start;
    flex-wrap: wrap;
}

.checkbooks_text {
    padding: 0 20px;
    text-align: left;   
}

.button3 {
    background-color:  rgb(238, 201, 38);
    border: none;
    border-radius: 0px;
    color: antiquewhite;
    padding: 30px auto;
    text-align: center;
    text-decoration: none; 
    margin: 0 0 20px 0;
    font-size: medium;   
}

.money {
    padding: 0 10px;
    border: 2px solid rgb(238, 201, 38);
    border-radius: 5px;
    margin: 0px 30px 20px 30px;
    text-align: left;
    font-family: 'Lato' , sans-serif;
    width: 300px;   
    justify-content: flex-start;
    flex-wrap: wrap;
}

.money_text {
    padding: 0 20px;
    text-align: left;   
}

.button4 {
    background-color:  rgb(238, 201, 38);
    border: none;
    border-radius: 0px;
    color: antiquewhite;
    padding: 30px auto;
    text-align: center;
    text-decoration: none; 
    margin: 0 0 20px 0;
    font-size: medium;   
}


